
%script{:type => "text/javascript",
        :src  => "javascripts/polymaps.js"}
%script{:type => "text/javascript",
        :src  => "javascripts/mapbox.js"}

.test{:id => 'map'}


:javascript

	var map = po.map()
	    .container(document.getElementById("map")
	        .appendChild(po.svg("svg")))
	    .add(po.interact())
	    .zoom(1)
	    .add(po.hash());

	map.add(po.image().url(mbUrl('world-light', 'png')));

	map.add(po.compass()
	    .pan("none"));
	
	
	var mbUrl = function(tileset_name, format) {
	return function(t) {
	    return 'http://a.tile.mapbox.com'
	        + '/1.0.0'
	        + '/' + tileset_name
	        + '/' + t.zoom
	        + '/' + t.column
	        + '/' + ((Math.pow(2, t.zoom) - 1) - t.row)
	        + '.' + format;
	};
	};