%script{:type => "text/javascript",
        :src  => "javascripts/polymaps.js"}

.test{:id => 'map'}

:javascript
  var po = org.polymaps;

  var map = po.map()
    .container(document.getElementById("map").appendChild(po.svg("svg")))
    .center({lat: -1.6, lon: 119})
    .zoom(6)
    .add(po.interact());
  
  
  map.add(po.image()
       .url(po.url("/tiles/{Z}/{X}/{Y}")));



